
#Inicio {
    background-image: url('../prueba/fondo\ 3.avif'); 
    background-size: 100% 80%; /* Imagen cubriendo el 50% del ancho y 50% de la altura */
    background-position: center center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
    align-items: center; /* Centra el contenido verticalmente */
    margin: 0;
    height: 100vh; 
    opacity: 70%;
    display: flex; /* Activa el uso de flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
}



#centro {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
}

#centro img {
    max-width: 100%; /* Asegura que la imagen sea responsiva */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 20px; /* Espacio entre la imagen y el botón */
}

.btnCatalogo {
    background-color: #5c94b4;
    padding: 10px 20px;   
    border: none;
    color: #ffffff;
    border-radius: 50px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}
  
.btnCatalogo:hover {
    background-color: #8dacbe;
}


/* Media Query para tabletas */
@media (max-width: 1300px) and (min-width: 768px) {
    .menu{
        margin: 10px;
        padding: 0.1rem;
        margin-top: 1%;
    }
    .menu li a {
        font-size: 16px;
        font-weight: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .btnAyuda {
        padding: 6px;   
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
        font-size: 15px;
    }
    
}

/* Media Query para móviles */
@media (max-width: 768px) {
    #centro img {
        max-width: 90%; /* Asegura que la imagen sea responsiva */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 20px; /* Espacio entre la imagen y el botón */
    }
    .btnAyuda {
        padding: 6px;   
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
        font-size: 15px;
    }
    footer{
        font-size: 15px;
    }
}


