h1{
    position: relative; /* Necesario para que podamos poner el texto sobre la imagen */
    background-image: url('../prueba/header.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el área del título */
    background-position: center; /* Centra la imagen dentro del área del título */
    color: rgb(255, 255, 255); /* Color del texto para hacerlo visible sobre la imagen */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 30px 0; /* Espaciado superior e inferior para que haya suficiente espacio alrededor del texto */
    font-size: 50px; /* Tamaño del texto */
    font-weight: bold; /* Hace el texto más prominente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto para mejorar su legibilidad sobre la imagen */ 
    margin: 0px;
}

h3{
   text-align: center;
   margin: 50px;
}
.proveedores {
    text-align: center; /* Centra texto e imágenes */
}

h2{
    text-align: center;

}

/****/
main{
    justify-content: center;
}
.carousel{
    width: 750px;
    margin-left: 38rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.carousel-caption{
    background-color: #5c94b467;
}
/*****/
.container {
    display: flex; /* Activa flexbox para alinear los elementos horizontalmente */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: flex-start; /* Alineación en la parte superior */
}

#Cubetas, #Estañones {
    z-index: 30;
    background-color: white; /* Fondo blanco */
    border: 6px solid rgba(128, 128, 128, 0.51); /* Borde gris medianamente ancho */
    border-radius: 30px; /* Bordes redondeados */
    padding: 50px; /* Espaciado interno */
    width: 45%; /* Ajusta el tamaño de cada contenedor para que se alineen uno al lado del otro */
    text-align: center; /* Centra el texto y la imagen dentro del contenedor */
    margin: 15px 50px; /* Espaciado entre los contenedores */
    
}

#Cubetas img, #Estañones img {
    width: 200px; /* Tamaño de la imagen */
    height: 200px; /* Tamaño de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

.container2 {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
    padding: 20px;
}

    
#EmpaquesFlexibles,
#BandasTermo,
#CintaTransTerm,
#Tapas {
    z-index: 30;
    position: relative; /* Posiciona el contenedor correctamente en la página */
    background-color: white; /* Fondo blanco */
    border: 6px solid rgba(128, 128, 128, 0.51); /* Borde gris medianamente ancho */
    border-radius: 30px; /* Bordes redondeados */
    padding: 50px; /* Espaciado interno */
    width: 15%; /* Ajusta el tamaño al contenido */
    text-align: center; /* Centra el texto y la imagen dentro del contenedor */
    margin: 50px; /* Añade margen entre los contenedores */
    width: 50%; /* Ajusta el tamaño al contenido */
}

#EmpaquesFlexibles img,
#BandasTermo img,
#CintaTransTerm img,
#Tapas img {
    width: 220px; /* Tamaño de la imagen */
    height: 200px; /* Tamaño de la imagen */
    border-radius: 8px; /* Bordes redondeados para la imagen */
    margin: 10px; /* Añade un margen entre las imágenes */
}
