h1{
    position: relative; /* Necesario para que podamos poner el texto sobre la imagen */
    background-image: url('../imagenes/Imagen6.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el área del título */
    background-position: center; /* Centra la imagen dentro del área del título */
    color: rgb(241, 234, 234); /* Color del texto para hacerlo visible sobre la imagen */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 30px 0; /* Espaciado superior e inferior para que haya suficiente espacio alrededor del texto */
    font-size: 50px; /* Tamaño del texto */
    font-weight: bold; /* Hace el texto más prominente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto para mejorar su legibilidad sobre la imagen */ 
    margin: 0px;
}

/***/
section {
    display: flex;
    flex-direction: column; /* Asegura que los divs estén uno encima del otro */
    width: 92%;
    margin: 20px 50px 20px 50px;
}

.mision-container, .vision-container {
    background-color: #a8cce4; /* Color celeste */
    padding: 20px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado entre los divs */
    border-radius: 25px; /* Bordes redondeados (opcional) */

}

h3 {
    margin: 0; /* Elimina el margen del encabezado */
}

#Vision, #Mision{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mision-container{
    text-align: right;
}