h1{
    position: relative; /* Necesario para que podamos poner el texto sobre la imagen */
    background-image: url('../prueba/header.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Asegura que la imagen cubra todo el área del título */
    background-position: center; /* Centra la imagen dentro del área del título */
    color: rgb(255, 255, 255); /* Color del texto para hacerlo visible sobre la imagen */
    text-align: center; /* Centra el texto horizontalmente */
    padding: 30px 0; /* Espaciado superior e inferior para que haya suficiente espacio alrededor del texto */
    font-size: 50px; /* Tamaño del texto */
    font-weight: bold; /* Hace el texto más prominente */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Agrega sombra al texto para mejorar su legibilidad sobre la imagen */ 
    margin: 0px;
}

main{
    display: block;
}

.containerQuienes {
    display: flex; /* Utiliza Flexbox para alinear los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio */
}

.queEs {
    flex: 1; /* Permite que la sección ocupe el espacio disponible */
    margin: 20px; /* Espacio entre la sección y la imagen */
    width: 550px;
    height: auto;
}

.imagen {
    /*flex: 0 0 auto; /* Mantiene el tamaño de la imagen */
    margin: 30px;
    border: 12px solid #5c94b4;
    border-radius: 10px;
}

h3{
    margin: 40px 30px 30px 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: #06466c;
}

#QuienesSomos{
    font-size: 25px;
    text-align: justify;
    margin: 50px;
    padding: 10px;
}

/* Media Query para tabletas */
@media (max-width: 1300px) and (min-width: 768px) {
    .menu{
        margin: 10px;
        justify-content: center; /* Centra el contenido horizontalmente */
        padding: 0.1rem;
        margin-top: 1%;
    }
    .menu li a {
        font-size: 16px;
        font-weight: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .btnAyuda {
        padding: 6px;   
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
        font-size: 15px;
    }
    h3{
        margin: 15px;
        font-size: 25px;
    }
    #QuienesSomos{
        font-size: 20px;
        margin: 30px;
        padding: 5px;
    }
    .imagen {
        margin: 20px;
        border: none;
    }
    .imagen img{
        width: 90%;
    }
    .part_menu {
        font-size: 20px; /* Tamaño del texto */
        font-weight: 300; /* Hace las letras delgadas */
        width: 1250px;
    }
    .social-icons {
        margin-left: 20px; /* Empuja los íconos completamente a la derecha */
    }
}

/* Media Query para móviles */
@media (max-width: 768px) {
    #centro img {
        max-width: 90%; /* Asegura que la imagen sea responsiva */
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 20px; /* Espacio entre la imagen y el botón */
    }
    .btnAyuda {
        padding: 6px;   
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
        font-size: 15px;
    }
    h3{
        margin: 15px;
        font-size: 25px;
    }
    #QuienesSomos{
        font-size: 20px;
        margin: 30px;
        padding: 5px;
    }
    .imagen {
        display: none;
    }
    h1{
        font-size: 35px; /* Tamaño del texto */
    }
    footer{
        font-size: 15px;
    }
    .part_menu {
        font-size: 10px; /* Tamaño del texto */
        font-weight: 300; /* Hace las letras delgadas */
        width: 500px;
    }
    .social-icons {
        margin-left: 10px; /* Empuja los íconos completamente a la derecha */
    }
}